<div class="animated fadeIn">
  <div *ngIf="isAdmin" class="card">
    <div class="card-header">
      <i class="fa fa-plus"></i> <a (click)="openMessageCreateModal();">Create New Bank</a>
    </div>
  </div>
  <div *ngFor="let channel of messages | groupBy: 'channelId' | values">
    <div class="card">
      <div class="card-header">

      </div>
      <div class="card-body">
        <table class="table table-striped" style="display:block; width:auto; overflow:auto">
          <tr>
            <th>Id</th>
            <th>Content</th>
            <th>Last Modified</th>
          </tr>
          <tr *ngFor="let msg of channel">
            <td>{{ msg.id }}</td>
            <td>{{ msg.content | shorten: 100: '...' }}</td>
            <td>{{ msg.lastModified | date: 'yyyy:MM:dd HH:mm:ss' }}</td>
          </tr>
        </table>
      </div>
    </div>
    {{k | json}}
  </div>
</div>
