<div class="animated fadeIn">
  <div *ngIf="userIsAdmin" class="card">
    <div class="card-header">
      <i class="fa fa-plus"></i> <a (click)="openMessageCreateModal();">Add New Message</a>
    </div>
  </div>
  <div *ngFor="let group of messages | groupBy: 'channelId' | values">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-hashtag"></i><span>{{ channelMap[group[0].channelId] }}</span>
      </div>
      <div class="card-body">
        <table class="table table-striped" style="display:block; width:inherit; overflow:auto">
          <tr>
            <th>Id</th>
            <th>Content</th>
            <th>Last Modified</th>
            <th></th>
            <th></th>
          </tr>
          <tr *ngFor="let msg of group">
            <td><a href="https://discordapp.com/channels/{{currentGuild.id}}/{{msg.channelId}}/{{msg.id}}">{{ msg.id }}</a></td>
            <td>{{ msg.content | shorten: 100: '...' }}</td>
            <td>{{ msg.lastModified | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            <td><i class="fa fa-pencil" (click)="openMessageEditModal(msg)"></i></td>
            <td><i class="fa fa-trash" (click)="openMessageRemoveModal(msg)"></i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
