@import 'core/intro.css';
@import 'core/dropdown.css';

@import 'fonts/roboto.css';
@import 'components/main.css';
@import 'components/wrapper.css';
@import 'components/content.css';
@import 'components/box.css';

@import 'components/layout/mobile-menu.css';
@import 'components/layout/top-bar.css';
@import 'components/layout/breadcrumb.css';
@import 'components/layout/side-nav.css';

html {
  @apply bg-theme-14;
  &.dark {
    @apply bg-dark-2;
    body {
      @apply text-gray-300;
      *,
      ::before,
      ::after {
        @apply border-dark-3;
      }
    }
  }
  body {
    -webkit-font-smoothing: antialiased;
    @apply overflow-x-hidden pt-3 px-8 font-roboto text-sm text-gray-800;
    @screen sm-d {
      @apply px-3;
    }
  }
}
