<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Alderto Rule Set"
         Description="General rules for code analysis"
         ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers"
         RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA2007" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.CSharp.Analyzers"
         RuleNamespace="Microsoft.CodeQuality.CSharp.Analyzers">
    <Rule Id="CA2234" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers"
         RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1303" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.CSharp.Analyzers"
         RuleNamespace="Microsoft.NetCore.CSharp.Analyzers">
    <Rule Id="CA2201" Action="Warning" />
  </Rules>
</RuleSet>