<app-header [asideMenuToggler]="false"
            [fixed]="true"
            [mobileAsideMenuToggler]="false"
            [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}"
            [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
            [navbarBrandRouterLink]="['/dashboard/']"
            [sidebarToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="/">About</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="/commands">Commands</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="/">Invite to Server</a>
    </li>
  </ul>
  <app-login class="nav navbar-nav ml-auto"></app-login>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>

  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<app-footer>
  <span><a href="/">Alderto</a> &copy; 2019 GedasFX</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer>
