<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card" *ngIf="config">
        <div class="card-header">
          Guild Preferences
        </div>
        <div class="card-body">
          <form [formGroup]="configForm">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="prefix">Prefix</label>
                <div class="input-group">
                  <input id="prefix" class="form-control" formControlName="prefix"
                    [attr.disabled]="editing.prefix ? null : ''" maxlength="20" />
                  <div *ngIf="userIsAdmin" class="input-group-append">
                    <div *ngIf="!editing.prefix" class="btn btn-outline-secondary" (click)="enableEdit('prefix')"><i
                        class="fa fa-pencil"></i></div>
                    <div *ngIf="editing.prefix" class="btn btn-outline-secondary" (click)="confirmEdit('prefix')"><i
                        class="fa fa-check text-success"></i></div>
                    <div *ngIf="editing.prefix" class="btn btn-outline-secondary" (click)="cancelEdit('prefix')"><i
                        class="fa fa-close text-danger"></i></div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="currencySymbol">Currency Symbol</label>
                <div class="input-group">
                  <input id="currencySymbol" class="form-control" formControlName="currencySymbol"
                    [attr.disabled]="editing.currencySymbol ? null : ''" maxlength="20" />
                  <div *ngIf="userIsAdmin" class="input-group-append">
                    <div *ngIf="!editing.currencySymbol" class="btn btn-outline-secondary"
                      (click)="enableEdit('currencySymbol')"><i class="fa fa-pencil"></i></div>
                    <div *ngIf="editing.currencySymbol" class="btn btn-outline-secondary"
                      (click)="confirmEdit('currencySymbol')"><i class="fa fa-check text-success"></i></div>
                    <div *ngIf="editing.currencySymbol" class="btn btn-outline-secondary"
                      (click)="cancelEdit('currencySymbol')"><i class="fa fa-close text-danger"></i></div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="timelyRewardQuantity">Timely Reward Quantity</label>
                <div class="input-group">
                  <input id="timelyRewardQuantity" class="form-control" formControlName="timelyRewardQuantity"
                    [attr.disabled]="editing.timelyRewardQuantity ? null : ''" maxlength="20" />
                  <div *ngIf="userIsAdmin" class="input-group-append">
                    <div *ngIf="!editing.timelyRewardQuantity" class="btn btn-outline-secondary"
                      (click)="enableEdit('timelyRewardQuantity')"><i class="fa fa-pencil"></i></div>
                    <div *ngIf="editing.timelyRewardQuantity" class="btn btn-outline-secondary"
                      (click)="confirmEdit('timelyRewardQuantity')"><i class="fa fa-check text-success"></i></div>
                    <div *ngIf="editing.timelyRewardQuantity" class="btn btn-outline-secondary"
                      (click)="cancelEdit('timelyRewardQuantity')"><i class="fa fa-close text-danger"></i></div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="timelyCooldown">Timely Cooldown</label>
                <div class="input-group">
                  <input id="timelyCooldown" class="form-control" formControlName="timelyCooldown"
                    [attr.disabled]="editing.timelyCooldown ? null : ''" maxlength="20" />
                  <div *ngIf="userIsAdmin" class="input-group-append">
                    <div *ngIf="!editing.timelyCooldown" class="btn btn-outline-secondary"
                      (click)="enableEdit('timelyCooldown')"><i class="fa fa-pencil"></i></div>
                    <div *ngIf="editing.timelyCooldown" class="btn btn-outline-secondary"
                      (click)="confirmEdit('timelyCooldown')"><i class="fa fa-check text-success"></i></div>
                    <div *ngIf="editing.timelyCooldown" class="btn btn-outline-secondary"
                      (click)="cancelEdit('timelyCooldown')"><i class="fa fa-close text-danger"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card" *ngIf="leaderborard">
        <div class="card-header">
          Leaderboards
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>User Id</th>
                <th>Points</th>
                <th>Last Claimed</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of leaderborard">
                <td><a [href]="'https://discordapp.com/channels/@me/' + entry.memberId">{{ entry.memberId }}</a></td>
                <td>{{ entry.points }}</td>
                <td>{{ entry.lastClaimed | date }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
