<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-plus"></i> <a (click)="openBankCreateModal();">Create New Bank</a>
    </div>
  </div>

  <div *ngFor="let bank of guildBanks">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-bank"></i><span>{{ bank.name }}</span>
        <div class="card-header-actions">
          <a class="card-header-action" (click)="openItemCreateModal(bank)"><i class="fa fa-plus"></i> </a>
          <a class="card-header-action" (click)="openBankEditModal(bank)"><i class="fa fa-pencil"></i> </a>
          <a class="card-header-action" (click)="openBankRemoveModal(bank)"><i class="fa fa-trash-o"></i></a>
        </div>
      </div>
      <div class="card-body">
        <div class="row bank-item-row text-center">
          <div *ngFor="let item of bank.contents" class="col-6 col-sm-4 col-md-3 col-lg-2 bank-item"
               [tooltip]="(item.description == null ? '' : item.description) + ' (valued at ' + item.value + ')'">
            <a (click)="openItemDetailsModal(item)">
              <img *ngIf="item.imageUrl" class="fa-2x bank-item-img" [src]="item.imageUrl" (error)="item.imageUrl = null" />
              <i *ngIf="!item.imageUrl" class="fa fa-question-circle fa-2x"></i>
              <div>{{ item.name }}</div>
              <div class="small">
                <span [class.text-danger]="item.quantity <= 0">{{ item.quantity }}</span>
              </div>
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 bank-item">
            <a (click)="openItemCreateModal(bank)">
              <i class="fa fa-plus fa-2x"></i>
              <div>Add new item</div>
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="bankValues[bank.id]" class="card-footer text-center">
        Value: {{ bankValues[bank.id] }}
      </div>
    </div>
  </div>
</div>
