<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-plus"></i> <a class="cursor-pointer" (click)="createBankModal.show();">Create New Bank</a>
    </div>
  </div>

  <div *ngFor="let bank of guildBanks">
    <div class="card card-default">
      <div class="card-header">
        <i class="fa fa-bank"></i> {{ bank.name }}
        <div class="card-header-actions">
          <a class="card-header-action"><i class="fa fa-plus"></i> </a> 
          <a class="card-header-action"><i class="fa fa-trash-o"></i> </a>
        </div>
      </div>
      <div class="card-body">
        <div class="row text-center">
          <div class="col-6 col-sm-4 col-md-3 col-xl-2">
            <i class="fa fa-plus icons font-4xl d-block"></i>
            <div>account-logout</div>
          </div>
        </div>
        <!--/.row-->
      </div>
    </div>
  </div>
</div>
<app-bank-create #createBankModal></app-bank-create>
