<div class="modal-content">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit();">
    <div class="modal-header">
      <h4 class="modal-title">Create New Bank</h4>
      <button type="button" class="close" (click)="modal.hide();" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Name:</label>
        <input class="form-control" type="text" formControlName="name" placeholder="Name of the bank" required />
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Log channel:</label>
        <ng-select *ngIf="channelSelect" [items]="channelSelect" bindValue="id" bindLabel="name" placeholder="None" formControlName="logChannelId"></ng-select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.hide();">Close</button>
      <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">Create New Bank</button>
    </div>
  </form>
</div>
