<div class="modal-content">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit();">
    <div class="modal-header">
      <h4 class="modal-title">{{ item.name }}</h4>
      <button type="button" class="close" (click)="modal.hide();" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" class="form-control" type="text" formControlName="name" required maxlength="70" placeholder="Name of the item" />
      </div>
      <div class="form-group">
        <label for="description">Description (optional):</label>
        <textarea id="description" class="form-control" rows="3" formControlName="description" maxlength="140" placeholder="Short description"></textarea>
      </div>
      <div class="form-group">
        <label for="value">Value:</label>
        <input id="value" class="form-control" type="number" formControlName="value" required min="-1000000000000000000" max="1000000000000000000" placeholder="Monetary value" />
      </div>
      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input id="quantity" class="form-control" type="number" formControlName="quantity" required min="-1000000000000000000" max="1000000000000000000" placeholder="Amount of item in this bank" />
      </div>
      <div *ngIf="canModify" class="form-group">
        <label for="imgUrl">Image URL (optional):</label>
        <input id="imgUrl" class="form-control" type="url" formControlName="imageUrl" maxlength="140" placeholder="Image URL of the item" />
      </div>
      <div class="text-center">
        <img style="max-width: 100%;" [src]="formGroup.value.imageUrl" alt="" />
      </div>
    </div>
    <div class="modal-footer">
      <button *ngIf="canModify" type="button" class="btn btn-danger mr-auto" (click)="onClickDelete()">Delete</button>
      <button type="button" class="btn btn-secondary" (click)="modal.hide();">Close</button>
      <button *ngIf="formGroup.dirty" type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">Confirm Edit</button>
    </div>
  </form>
</div>
