<ul class="nav navbar-nav ml-auto" *ngIf="loggedIn">
  <li class="app-server-select"></li>
  <li class="nav-item dropdown" dropdown placement="bottom right">
    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
      <img *ngIf="userImg" [src]="userImg" class="img-avatar" alt="User Logo" />
    </a>
    <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
      <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
    </div>
  </li>
</ul>

<!-- TODO: This button looks bad on mobile. -->
<button class="btn btn-discord" *ngIf="!loggedIn" (click)="login()">Login with Discord</button>
