/* You can add global styles to this file, and also import other style files */
@import "~@coreui/coreui/scss/coreui";
@import '~ngx-toastr/toastr-bs4-alert';
@import "~@ng-select/ng-select/themes/default.theme.css";

a {
  cursor: pointer;
}

// For regular inputs
.ng-valid.ng-dirty,
.ng-valid.ng-touched {
  border-color: #4dbd74; /* green */
}

.ng-invalid.ng-dirty,
.ng-invalid.ng-touched {
  border-color: #f86c6b; /* red */
}

// For dropdown selects.
.ng-valid.ng-dirty > .ng-select-container,
.ng-valid.ng-touched > .ng-select-container {
  border-color: #4dbd74; /* green */
}

// Color unification
.ng-select > .ng-select-container {
  border: 1px solid #e4e7ea;
}

.invalid-feedback {
  margin-left: 0.25em;
  display: block;
}
