/* You can add global styles to this file, and also import other style files */
@import "~@coreui/coreui/scss/coreui";
@import '~ngx-toastr/toastr-bs4-alert';
@import "~@ng-select/ng-select/themes/default.theme.css";

a {
  cursor: pointer;
}

.ng-dirty.ng-touched.ng-valid {
  border-color: #4dbd74; /* green */
}

.ng-dirty.ng-touched.ng-valid > .ng-select-container {
  border-color: #4dbd74; /* green */
}

.ng-dirty.ng-touched.ng-invalid {
  border-color: #f86c6b; /* red */
}

.ng-select > .ng-select-container {
  border: 1px solid #e4e7ea;
}

.invalid-feedback {
  margin-left: 0.25em;
  display: block;
}
