<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Edit Message</h4>
    <button type="button" class="close" (click)="modal.hide();" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit();">
      <div *ngIf="userIsAdmin" class="form-group">
        <label>Moderator role (optional):</label>
        <ng-select *ngIf="roleSelect" [items]="roleSelect" bindValue="id" bindLabel="name" placeholder="None" formControlName="moderatorRoleId"></ng-select>
      </div>
      <div class="form-group">
        <label>Content:</label>
        <textarea class="form-control" formControlName="content" rows="10" required></textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.hide();">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!formGroup.valid">Edit Message</button>
  </div>
</div>
