<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Add New Message</h4>
    <button type="button" class="close" (click)="modal.hide();" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <tabset [justified]="true" #tabset>
      <tab heading="Post">
        <form [formGroup]="createGroup" (ngSubmit)="onCreate();">
          <div class="form-group">
            <label>Channel:</label>
            <ng-select *ngIf="channelSelect" [items]="channelSelect" bindValue="id" bindLabel="name" placeholder="None" formControlName="channelId"></ng-select>
          </div>
          <div class="form-group">
            <label>Moderator role (optional):</label>
            <ng-select *ngIf="roleSelect" [items]="roleSelect" bindValue="id" bindLabel="name" placeholder="None" formControlName="moderatorRoleId"></ng-select>
          </div>
          <div class="form-group">
            <label>Content:</label>
            <textarea class="form-control" formControlName="content" rows="10" required></textarea>
          </div>
        </form>
      </tab>
      <tab heading="Import">
        <form [formGroup]="importGroup" (ngSubmit)="onImport();">
          <div class="form-group">
            <label>Channel:</label>
            <ng-select *ngIf="channelSelect" [items]="channelSelect" bindValue="id" bindLabel="name" placeholder="None" formControlName="channelId"></ng-select>
          </div>
          <div class="form-group">
            <label>Moderator role (optional):</label>
            <ng-select *ngIf="roleSelect" [items]="roleSelect" bindValue="id" bindLabel="name" placeholder="None" formControlName="moderatorRoleId"></ng-select>
          </div>
          <div class="form-group">
            <label>Message Id:</label>
            <input class="form-control" formControlName="messageId" />
          </div>
        </form>
      </tab>
    </tabset>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.hide();">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!createGroup.valid && this.tabset.tabs[0].active || !importGroup.valid && this.tabset.tabs[1].active">Add New Message</button>
  </div>
</div>
