<app-header [asideMenuToggler]="false"
            [fixed]="true"
            [mobileAsideMenuToggler]="false"
            [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}"
            [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
            [navbarBrandRouterLink]="['/dashboard/']"
            [sidebarToggler]="'lg'">
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Settings</a>
        </li>
    </ul>
    <ul app-account class="nav navbar-nav ml-auto"></ul>
</app-header>
<div class="app-body">
    <app-sidebar [fixed]="true" [display]="'lg'">
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>

    <main class="main">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
<app-footer>
    <span><a href="https://coreui.io">AldertoBot</a> &copy; 2019 Alderto.</span>
    <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer>
