{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "ignorePatterns": [
    "node_modules/*",
    "public/*",
    "out/*",
    ".next/*",
    "next.config.js"
  ],
  "extends": [
    "next",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": ["warn", "unix"],
    "quotes": ["warn", "single"],
    "semi": ["warn", "always"],

    // No need to import React when using Next.js
    "react/react-in-jsx-scope": "off",

    // Allow implicit return types.
    "@typescript-eslint/explicit-module-boundary-types": "off",

    // Managed by next/link
    "jsx-a11y/anchor-is-valid": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}